nav.rainbow-border-bottom.nav.navbar-default.navbar-static-bottom.footer
    div.col-md-8.col-md-offset-2
      ul.nav.navbar-nav
        li.navbar-text
          small &copy; Liveline 2014.

      ul.nav.navbar-right
        li.navbar-text
          <small><a href='/blog'>Blog</a></small>

        li.navbar-text
          <small><a href='/about'>About</a></small>

