extends front-layout

block content
  div.container-fluid

    div.front-signup.front-content.col-md-8.col-md-offset-2
      div.pull-left 
        h1.front-headline Liveline connects you and your loved ones,<br/>video chat style.

      div.pull-right
        h2 Create an account
        br
        input#signup-email.signup-form.form-control(type='email', placeholder='Your email')
        br
        input#signup-pw.signup-form.form-control(type='password', placeholder='Your password')
        br
        input.signup-form.form-control(type='password', placeholder='Reenter password')
        br
        button#signup-btn.btn.btn-lg.btn-default(type='submit') Create an account

    div.front-content.text-center.col-md-8.col-md-offset-2
      h2.feature-header Why you'll love Liveline

      mixin feature(glyphicon)
        td
          div.front-features.element-centered
            span.glyphicon.feature-icon(class!=glyphicon)
          if block
            block
          else
            p A really cool feature.

      table.feature-table.element-centered
        tr.feature-row
          +feature('glyphicon-cloud')
            p.feature-description Video chat in the browser
          +feature('glyphicon-heart-empty')
            p.feature-description An interface that you'll love

        tr.feature-row
          +feature('glyphicon-globe')
            p.feature-description Chat with people from anywhere
          +feature('glyphicon-ok-sign')
            p.feature-description Fast, stable chat experience

    div.front-content.text-center.col-md-8.col-md-offset-2
      h2 With Liveline, you can avoid
      ul.avoid-list
        li
          h4 Slow connections
          p We provide record-time connection speeds.
        li
          h4 Unsupported features
          p We don't use Flash (unsupported by iOS).
        li
          h4 Installing
          p Liveline is a website, no installation needed.
        li
          h4 Updating
          p We will do that for you, seamlessly.

