extends layout

block content
  div.container-fluid
    div.signup-stripe.jumbotron.col-md-8.col-md-offset-2
      h1 Video chat? What's new?
      p We'll show you.
      br

      div.col-md-2
        input#signup-uid.signup-form.form-control(type='text', placeholder='Your username...')
        br
        input#signup-pw.signup-form.form-control(type='password', placeholder='Your password...')
        br
        input.signup-form.form-control(type='password', placeholder='Reenter password...')
        br
        button.signup-btn.btn.btn-lg.btn-success Create an account

