/*
 * Author: Maverick Chan
 * Project: Liveline
 */

/* Page needs */
body {
  /*font-family: "Roboto", sans-serif;*/
  background-color: #E6E6E6;
  padding-top: 70px;
}

/* Front page */
.front-content {
  background-color: #FFFFFF;
  background-size: cover;
  padding: 3em;
  margin-bottom: 2.5em;
  border: 0.08em solid #DBDBDB;
}

