/*
 * Author: Maverick Chan
 * Project: Liveline
 */

/* Page needs */
body {
  /*font-family: "Roboto", sans-serif;*/
  background-color: #E6E6E6;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  border-bottom-width: 0;
  cursor: pointer;
}

/* Navbar */
.navbar-static-bottom {
  border-top: 0.08em solid #DBDBDB;
  background-color: #FFFFFF;
}

.navbar-static-top {
  border-bottom: 0.08em solid #DBDBDB;
  background-color: #FFFFFF;
}

.rainbow-border-top {
  display: block;
  width: 100%;
  background-color: #eff2f3;
  background-position: center top;
  background-repeat: repeat-x;
  background-image: url(/images/rainbow-border.png);
  background-size: 100% 4px;
  padding-top: 2px;
}

.rainbow-border-bottom {
  display: block;
  width: 100%;
  background-color: #eff2f3;
  background-position: center bottom;
  background-repeat: repeat-x;
  background-image: url(/images/rainbow-border.png);
  background-size: 100% 4px;
  padding-top: 2px;
}

/* Front page */
.front-content {
  background-color: #FFFFFF;
  background-size: cover;
  padding: 3em;
  margin-bottom: 2.5em;
  border: 0.08em solid #DBDBDB;
}

.front-signup {
  height: 36em;
}

.front-headline {
  font-size: 2em;
}

.signup-form {
  width: 17em;
}

#signup-btn {
  background-color: #E8616C;
  color: #FFFFFF;
  border: none;
  box-shadow: none;
  width: 13.2em;
}

#signup-btn:hover {
  background-color: #E84955; 
}

#signup-btn:active {
  background-image: -ms-linear-gradient(bottom, #E84955 0%, #585858 500%);
  background-image: -moz-linear-gradient(bottom, #E84955 0%, #585858 500%);
  background-image: -o-linear-gradient(bottom, #E84955 0%, #585858 500%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E84955), color-stop(5, #585858));
  background-image: -webkit-linear-gradient(bottom, #E84955 0%, #585858 500%);
  background-image: linear-gradient(to top, #E84955 0%, #585858 500%); 
}

.front-features {
  border: 2px solid #D8D8D8;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}

.front-features:hover {
  background-color: #D8D8D8;
}

.feature-header {
  margin-bottom: 50px;
}

.feature-icon {
  font-size: 50px;
  color: #DF013A;
  line-height: 100px;
}

.element-centered {
  float: none;
  margin: 0 auto;
}

.feature-row {
  padding-bottom: 100px;
}

.feature-table {
  width: 100%;
  height: 25em;
}

.feature-description {
  margin-top: 20px;
}

.avoid-list {
  list-style-type: none;
}

.avoid-list > li {
  margin-top: 2em;
}

