/*
 * Author: Maverick Chan
 * Project: Liveline
 */

body {
  font-family: "Roboto", sans-serif;
  background-color: #F1F2F2;
  position: relative;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Regular'), local('Roboto-Regular'), url("http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff") format('woff');
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  border-bottom-width: 0;
  cursor: pointer;
}

.front-content {
  background-color: #FFFFFF;
  background-size: cover;
  padding: 4em;
  margin-bottom: 2.5em;
}

.front-headline {
  font-size: 2em;
}

.signup-form {
  width: 17em;
}

#signup-btn {
  background-color: #E8616C;
  color: #FFFFFF;
  border: none;
  box-shadow: none;
}

#signup-btn:hover {
  background-color: #E84955; 
}

#signup-btn:active {
  background-image: -ms-linear-gradient(bottom, #E84955 0%, #585858 500%);
  background-image: -moz-linear-gradient(bottom, #E84955 0%, #585858 500%);
  background-image: -o-linear-gradient(bottom, #E84955 0%, #585858 500%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E84955), color-stop(5, #585858));
  background-image: -webkit-linear-gradient(bottom, #E84955 0%, #585858 500%);
  background-image: linear-gradient(to top, #E84955 0%, #585858 500%); 
}

