body
  padding-top: 50px
  font-family: "Roboto", sans-serif
  
@font-face
  font-family: 'Roboto'
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff')
  
abbr[title]
  border-bottom-width: 0
  cursor: pointer
  
a
  color: #00B7FF

