doctype html
html(lang='en')

  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Liveline connects you and your loved ones through video chats')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/front-style.css')

    style.
      #chat-messages {
        list-style-type: none;
      }
    
  body
    include front-header

    block content

    include footer

    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.pjax.js')
    script(src='/socket.io/socket.io.js')
    script.
      var socket = io();
      var chatbox = $('#chatbox');
      var messagebox = $('#chat-messages');

      $('#chatbox').keypress(function(event) {
        if (event.which == 13) {
          var message = chatbox.val();
          socket.emit( 'new message', message );
          chatbox.val('');
          //messagebox.append('<li>' + message + '</li><hr/>');
          return false;
        } 
      });

      socket.on('new message', function(message) {
        messagebox.append('<li>' + message + '</li><hr/>');
      });

