doctype html
html(lang='en')

  head
    title ERROR!
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Liveline connects you and your loved ones through video chats')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    style.
      body {
        background-color: #E6E6E6;
        padding-top: 70px;
      }

      /* Front page */
      .front-content {
        background-color: #FFFFFF;
        background-size: cover;
        padding: 3em;
        margin-bottom: 2.5em;
        border: 0.08em solid #DBDBDB;
      }

  body
    block content

