extends error-layout

block content
  div.container-fluid 
    div.front-content.col-md-8.col-md-offset-2
      h1 You bloody made an error, dude. 
      h1= message
      h2= error.status
      pre #{error.stack}

