nav.nav.navbar-default.navbar-fixed-bottom.footer
    div.col-md-8.col-md-offset-2
      ul.nav.navbar-nav.signature-footer
        li.navbar-text
          span.glyphicon.glyphicon-chevron-left.signature-text
          span.glyphicon.glyphicon-chevron-right.signature-text
          small.signature-text with
          span.glyphicon.glyphicon-heart.signature-text
          small.signature-text by Live Line 2014.
      ul.nav.navbar-right
        li.navbar-text
          iframe(src='http://ghbtns.com/github-btn.html?user=maverick97&repo=live-line&type=watch&count=true', allowTransparency='true', frameborder='0', scrolling='0', width='95', height='20')

        li.navbar-text
          iframe(src='http://ghbtns.com/github-btn.html?user=maverick97&repo=live-line&type=fork&count=true', allowTransparency='true', frameborder='0', scrolling='0', width='95', height='20')

        li.navbar-text
          a(href='https://twitter.com/walaubalau', class='twitter-share-button', data-show-count='false') Tweet

          script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

