nav.nav.navbar-default.navbar-static-bottom.footer
    div.col-md-8.col-md-offset-2
      ul.nav.navbar-nav.signature-footer
        li.navbar-text
          small.signature-text &copy; Liveline 2014.
      ul.nav.navbar-right
        li.navbar-text
          a(href='https://twitter.com/liveline', class='twitter-share-button', data-show-count='false') Tweet

          script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        li.navbar-text
          <small><a href='/blog'>Blog</a></small>

        li.navbar-text
          <small><a href='/about'>About</a></small>

