doctype html
html(lang='en')

  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/front-style.css')
    
  body
    include front-header

    block content

    include footer

    script(src='/js/jquery.min.js')
    script(src='/js/jquery.pjax.js')
    script.

      $('.signup-btn').click(function() {
        $.ajax({
          type: 'POST',
          url: '/signup',
          data: {
            uid: $('#signup-uid').val(),
            pw: $('#signup-pw').val()
          }
        })
      });
