extends layout

block content
  div.container-fluid

    div.front-content.col-md-8.col-md-offset-2
      div.pull-left 
        h1.front-headline Liveline connects you and your loved ones,<br/>real time.

      div.pull-right
        h2 Create an account
        br
        input#signup-uid.signup-form.form-control(type='text', placeholder='Your username')
        br
        input#signup-pw.signup-form.form-control(type='password', placeholder='Your password')
        br
        input.signup-form.form-control(type='password', placeholder='Reenter password')
        br
        button#signup-btn.btn.btn-lg.btn-default(type='submit') Create an account

    div.front-content.text-center.col-md-8.col-md-offset-2
      h2 Why you'll love Liveline

      mixin feature(glyphicon)
        div.front-features
          span.glyphicon.feature-icon(class!=glyphicon)
        if block
          block
        else
          p A really cool feature.

      +feature('glyphicon-cloud')
        p Do everything in the cloud
      +feature('glyphicon-heart-empty')
        p Beautiful interface that you'll love
      +feature('glyphicon-globe')
        p Connect with loved ones around the globe
      +feature('glyphicon-ok-sign')
        p Fast, stable user experience

