nav.navbar.navbar-default.navbar-static-top(role='navigation') 
    div.col-md-8.col-md-offset-2
      ul.nav.navbar-left
        li.navbar-text
          a(href='/') Liveline

      ul.nav.navbar-right
        li.navbar-text
          a(href='/features') Features

        li.navbar-text
          a(href='/about') About

        li.navbar-text
          a(href='/blog') Blog

          li.navbar-text
            button#login-btn.btn.btn-sm.btn-default 
              a(href='/login') Log in


