nav.navbar.navbar-default.navbar-fixed-top(role='navigation') 
    div.col-md-8.col-md-offset-2
      div.navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapser')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

      div.collapse.navbar-collapse#navbar-collapser
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/') Home
              abbr(title='Home')
          li
            a(href='/about') About
              abbr(title='About')
                

