doctype html
html(lang='en')

  head
    title This is cool
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    
  body
    include header

    block content

    include footer

    script(src='/js/jquery.min.js')
    script(src='/js/jquery.pjax.js')

