doctype html
html(lang='en')

  head
    title This is cool
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    
  body
    include header

    block content

    include footer

    script(src='/js/jquery.min.js')
    script(src='/js/jquery.pjax.js')
    script.

      function hasGetUserMedia() {
        check = ( navigator.getUserMedia ||
                  navigator.webkitGetUserMedia ||
                  navigator.mozGetUserMedia ||
                  navigator.msGetUserMedia );
        return check;
      }

      if (hasGetUserMedia) {
         navigator.getUserMedia (
           // constraints
           {
             video: {
               mandatory: {
                 maxWidth: 800,
                 maxHeight: 800
               }
             },
             audio: true
           },
           // successCallback
           function(localMediaStream) {
             var video = document.querySelector('video');
             video.src = window.URL.createObjectURL(localMediaStream);
             // Do something with the video here, e.g. video.play()
             video.onloadedmetadata = function(e) {
             
             };
           },
           // errorCallback
           function(err) {
             console.log("The following error occured: " + err);
           }
        );
      }
      else {
         console.log("getUserMedia not supported");
      }

