extends front-layout

block content
  div.container-fluid
    div.front-content.col-md-6.col-md-offset-4
      h1 Sign In
      input#login-email.login-form.form-control(type='email', placeholder='Your email')
      br
      input#login-pw.login-form.form-control(type='password', placeholder='Your password')
      br
      input#login-rmb-me.form-control(type='checkbox')

